<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Register</title>
    </head>
    <body>
        <div th:if="${param.error}">
            I'm sorry, this has never happened before. I promise.
        </div>
        <form th:action="@{/registerUser}" method="post">
            <div><label> Email Address: <input type="text" name="userName"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><label> Full Name: <input type="text" name="fullName"/> </label></div>
            <div><label> What should we call you?: <input type="text" name="givenName"/> </label></div>
            <div><label> Date Of Birth: <input type="date" name="dateOfBirth"/> </label></div>
            <div><input type="submit" value="Register"/></div>
        </form>
    </body>
</html>